.App {
  text-align: center;
  color: rgb(51, 51, 109);
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1   {
  font-family:'Slackey', cursive;
  font-size: 2rem;
}

