.App {
  background-color: rgb(243, 241, 235);
}
h1,
h2,
h3,
h4,
.headerIcon, .timerFace {
  font-family: "Slackey", cursive;
  color: rgb(60, 64, 110);
}
h1 {
  font-size: 3rem;
}

h2, h3 {
  font-size: 1.75rem;
}
h4, .timerFace {
  text-align: center;
  font-size: 1.5rem;
}
.headerIcon {
  font-size: 1rem;
  text-align: justify;
}
.headerText {
  align-content: left ;
}
.timer {
  box-sizing: content-box;
justify-content: center;
}
.timerFace{
  box-sizing: border-box;
  align-content: justify;
  font-family: "Slackey", cursive;
  font-weight: bold;
  border: solid 2px rgb(209, 143, 21);
  

}
