.App {
  background-color: rgb(243, 241, 235);
}
h1,
h2,
h4,
.headerIcon {
  font-family: "Slackey", cursive;
  font-size: 3rem;
  color: rgb(60, 64, 110);
}

h2 {
  font-size: 1.75rem;
}
h4, .timerFace {
  text-align: center;
  font-size: 1.25rem;
}
.headerIcon {
  font-size: 1rem;
  text-align: justify;
}
.headerText {
  align-content: left ;
}
.timer {
  box-sizing: content-box;
justify-content: center;
}
.timerFace{
  font-size: 1.75rem;
  box-sizing: border-box;
  font-family: "Raleway", cursive;
  font-weight: bold;
  

}
